title: lr7 digital
description: Time On Ice and other projects.
url: "https://lr7-digital.github.io"
baseurl: ""

# Build settings
markdown: kramdown
exclude:
  - Gemfile
  - Gemfile.lock
  - README.md
  - GEMINI.md
  - vendor/
