---
layout: toi
---
<div class="columns">
    <div class="left-column">
        <img src="{{ '/toi/assets/icon.png' | relative_url }}" class="icon" alt="Time On Ice Icon">
        
        <div class="card">
            <a href="https://play.google.com/store/apps/details?id=com.TimeOnIce">
                <img src="https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png" alt="Get it on Google Play" style="max-width: 200px; height: auto;">
            </a>
            <p>Google Play and the Google Play logo are trademarks of Google LLC.</p>
        </div>
        <div class="card">
            <p>Want early access to new features? <a href="{{ '/toi/testers/' | relative_url }}">Join the Beta Program</a></p>
        </div>

        <div class="card">
            <p>Questions? Email us at <a href="mailto:hello@lr7.digital">hello@lr7.digital</a></p>
        </div>

        <img src="{{ '/toi/assets/splash-home.jpg' | relative_url }}" class="splash-img" alt="Time On Ice App Screenshot">
        <img src="{{ '/toi/assets/splash-stats.jpg' | relative_url }}" class="splash-img" alt="Time On Ice App Screenshot">
    </div>

    <div class="right-column">
        {{ content }}
    </div>
</div>
