---
layout: toi
---
<div class="columns">
    <div class="left-column">
        <img src="{{ '/toi/assets/icon.png' | relative_url }}" class="icon" alt="Time On Ice Icon">
        
        <div class="card">
            <p>Become a Beta tester and get the pro version free! <a href="https://forms.gle/wj1Bfc2VrzWvGCy77" target="_blank">Click here to join</a></p>
        </div>

        <div class="card">
            <p>Questions? Email us at <a href="mailto:lr7-digital@proton.me">lr7-digital@proton.me</a></p>
        </div>

        <img src="{{ '/toi/assets/splash-home.jpg' | relative_url }}" class="splash-img" alt="Time On Ice App Screenshot">
        <img src="{{ '/toi/assets/splash-stats.jpg' | relative_url }}" class="splash-img" alt="Time On Ice App Screenshot">
    </div>

    <div class="right-column">
        {{ content }}
    </div>
</div>
